<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TempButton.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F806F0A31EDE723C0044EC00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F806F0B71EDE723D0044EC00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F806F0C21EDE723D0044EC00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
